/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: "jaf-facitweb", sans-serif;
  background: #192926;
}
a {
  color: #14b694;
}
.strap {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #bbc7c5;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
.btn {
  background: #14b694;
  display: block;
  color: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  padding: 1em 0;
  font-size: 0.75em;
  font-weight: 400;
  -webkit-box-shadow: 0px 0.35em 0px 0px #11a284;
  -moz-box-shadow: 0px 0.35em 0px 0px #11a284;
  box-shadow: 0px 0.35em 0px 0px #11a284;
}
#next-event {
  background: #f5f5f5;
  padding: 4em 0;
}
.event {
  background: #fff;
  margin: 0 auto;
  max-width: 60em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 4em 0;
}
.event h1 {
  text-align: center;
  color: #192926;
  font-size: 2.5em;
  font-weight: 600;
  margin: 1em auto;
}
.event .descr h2 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 200;
  margin-bottom: 2em;
  color: #616e6b;
  line-height: 1.4;
  max-width: 36em;
  margin: 0 auto 1.5em auto;
}
.event .descr h2 a {
  border-bottom: 2px dotted #14b694;
  font-weight: 400;
}
.event .descr h2:after {
  display: block;
  content: "";
  background: #bbc7c5;
  height: 0.125em;
  width: 5em;
  margin: 2em auto 0 auto;
}
.event .descr p {
  font-size: 1em;
  color: #616e6b;
  font-weight: 200;
  margin: 0 auto 1em auto;
  max-width: 43em;
  line-height: 1.6;
  text-align: center;
}
.event .speakers {
  background: #bbc7c5;
  padding: 2em 0;
  max-width: 60em;
  margin: 4em auto;
  zoom: 1;
}
.event .speakers:before,
.event .speakers:after {
  content: "";
  display: table;
}
.event .speakers:after {
  clear: both;
}
.event .speakers > .strap {
  margin-bottom: 2em;
  color: #f5f5f5;
}
.event .speakers ul {
  padding: 0 1em;
}
.event .speakers li {
  float: left;
  margin: 0 1em;
  width: 12.5em;
}
.speaker {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  padding-top: 1em;
  overflow: hidden;
}
.speaker p {
  font-size: 0.75em;
  text-align: center;
  line-height: 1.4;
  color: #616e6b;
}
.speaker .head {
  width: 8em;
  height: 8em;
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #f5f5f5;
  margin: 0.25em auto;
  position: relative;
  background: #ffffff;
}
.speaker .head img {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}
.speaker .bio {
  border-bottom: 1px solid #f5f5f5;
  padding: 0em 1em;
  height: 8em;
}
.speaker .bio h1 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
}
.speaker .abstract {
  padding: 1em;
  height: 4.25em;
}
.speaker .abstract p {
  font-style: italic;
}
.speaker .abstract p:before {
  content: "\201C";
}
.speaker .abstract p:after {
  content: "\201D";
}
.speaker .interact {
  padding: 1em 1em 1.25em 1em;
  background: #f5f5f5;
}
.logo {
  text-align: center;
  font-size: 3em;
  letter-spacing: -1px;
  font-weight: 700;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
#opening {
  background: url(http://a.tiles.mapbox.com/v3/orourkedesign.map-bhjxncae/-0.1326999999999988,51.518499999999975,15/1000x600.png) top center #14b694;
  border-bottom: solid 0.25em #11a284;
  padding: 4em 0;
}
#opening h1 {
  margin: 1em 0;
}
#opening h2 {
  font-size: 1.25em;
  color: #166555;
  max-width: 30em;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}
#opening h2 a {
  color: #a6ecdd;
  font-weight: 200;
  border-bottom: 2px dotted #a6ecdd;
}
#credits {
  background: #192926;
  padding: 4em 0;
}
#credits p {
  color: #616e6b;
  text-align: center;
  font-size: 0.875em;
}
#credits a {
  color: #11a284;
  border-bottom: 2px dotted #11a284;
}
