/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: "jaf-facitweb", sans-serif;
  background: #ff7474;
  background: #6fb8f4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6fb8f4 0%, #a1f3f2 86%, #f8ffd3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fb8f4), color-stop(86%, #a1f3f2), color-stop(100%, #f8ffd3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6fb8f4 0%, #a1f3f2 86%, #f8ffd3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6fb8f4 0%, #a1f3f2 86%, #f8ffd3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6fb8f4 0%, #a1f3f2 86%, #f8ffd3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6fb8f4 0%, #a1f3f2 86%, #f8ffd3 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fb8f4', endColorstr='#f8ffd3', GradientType=0);
  /* IE6-9 */

}
#nomination-form {
  background: #fff;
  margin-top: -8em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 4em 0 0 0;
  border-top: 5px dotted #ffffff;
  border-bottom: 5px dotted #ffffff;
}
#nomination-form h2 {
  font-size: 1.75em;
  line-height: 1.4;
  font-weight: 100;
  color: #616e6b;
  margin-bottom: 2em;
  text-align: center;
}
#nomination-form form {
  margin-top: -4em;
  font-family: "jaf-facitweb", sans-serif;
}
#nomination-form form .req {
  color: #6babdf;
}
#nomination-form form li {
  margin-bottom: 1em;
}
#nomination-form form #Field1 {
  margin-right: 1em;
  display: inline-block;
}
#nomination-form form label {
  font-weight: 500;
  color: #616e6b;
}
#nomination-form form h3 {
  border: 0;
  font-size: 1.25em;
  font-weight: 500;
  color: #cc3232;
  border-bottom: 1px dotted #bbc7c5;
  padding-bottom: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
#nomination-form form #saveForm {
  width: 60%;
  display: block;
  margin: 2em auto;
  border: 0;
  padding: 1em 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.hide {
  display: none;
}
.centered.block {
  max-width: 30em;
  margin: 0 auto;
}
a {
  color: #6babdf;
}
.strap {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #bbc7c5;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
.event .descr p.sponsor {
  font-size: 0.875em;
}
.btn {
  background: #19a7c3;
  display: block;
  color: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  padding: 1.5em 0;
  font-size: 0.75em;
  font-weight: 400;
}
input.field,
textarea {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #bbc7c5;
  padding: 0.5em 0em;
  width: 100%;
}
input.field#Field1,
textarea#Field1 {
  margin-right: 1em;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
#next-event {
  background: none;
  position: relative;
}
.event {
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  margin: 0 auto;
  max-width: 56em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 3em 0 0 0;
}
.event h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  font-weight: 200;
  margin: 0.75em auto 0.5em auto;
  line-height: 1.3;
}
.event h2 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 200;
  margin-bottom: 2em;
  color: #616e6b;
  line-height: 1.6;
  max-width: 36em;
  margin: 0 auto 1.5em auto;
}
.event h2 a {
  border-bottom: 2px dotted #6babdf;
  font-weight: 400;
}
.event h2:after {
  display: block;
  content: "";
  background: #6babdf;
  height: 0.125em;
  width: 5em;
  margin: 2em auto 0 auto;
}
.event p {
  font-size: 1em;
  color: #616e6b;
  font-weight: 200;
  margin: 0 auto 1em auto;
  max-width: 43em;
  line-height: 1.6;
  text-align: center;
}
.event .descr {
  padding: 2em 11em 2em 11em;
}
.event .descr#sponsors {
  border-top: 1px dotted #bbc7c5;
  padding-top: 4em;
}
.event .descr img,
.event .descr a {
  display: block;
  margin: 0 auto;
}
.event .descr p {
  font-size: 1.125em;
}
.event .tickets {
  padding: 1em 10em 3em 10em;
}
.event .sponsors {
  padding: 4em 0;
  border-top: 1px dotted #bbc7c5;
}
.event .sponsors img {
  display: block;
  margin: 2em auto;
}
.event .speakers {
  padding: 3em 0em 3em 0em;
  border-top: 1px dotted #bbc7c5;
  zoom: 1;
}
.event .speakers:before,
.event .speakers:after {
  content: "";
  display: table;
}
.event .speakers:after {
  clear: both;
}
.event .speakers h1 {
  font-size: 2em;
  margin: 0 0 1em 0;
}
.event .speakers > .strap {
  margin-bottom: 2em;
  color: #ccc;
}
.event .speakers ul {
  padding: 0 1em;
}
.event .speakers li {
  float: left;
  margin: 0 1em;
  width: 16em;
}
.event .venue {
  padding: 3em 0 0 0;
  border-top: 1px dotted #bbc7c5;
}
.event .venue .btn {
  width: 250px;
  margin: 10px auto 0 auto;
}
.event .venue h1 {
  font-size: 2em;
}
.event .venue p {
  font-size: 1.125em;
  padding: 0 8em;
}
.event .map {
  margin-top: 4em;
}
.speaker {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff;
  padding-top: 1em;
  overflow: hidden;
  border: 1px solid #ccc;
}
.speaker p {
  font-size: 0.875em;
  text-align: center;
  line-height: 1.4;
  color: #616e6b;
}
.speaker .head {
  width: 8em;
  height: 8em;
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  margin: 0.25em auto;
  position: relative;
  background: #ffffff;
}
.speaker .head img {
  display: block;
  width: 100%;
}
.speaker .bio {
  padding: 0em 1em;
  height: 15em;
}
.speaker .bio h1 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
  color: #333;
  margin: 1em auto;
}
.speaker .bio p {
  font-size: 0.875em;
  line-height: 1.4;
}
.speaker .interact {
  padding: 1.125em 1em 1.25em 1em;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}
.speaker .interact a {
  background: #6babdf;
  color: #fff;
  font-weight: 200;
  font-size: 0.875em;
}
.logicon {
  display: block;
  width: 2.5em;
  height: 4em;
  margin: 0 auto;
}
.logicon svg {
  width: 2.75em;
}
.no-svg .logicon {
  background: url(/images/logo.png) top center no-repeat;
}
.no-svg .logicon svg {
  display: none;
}
.logo {
  text-align: center;
  font-size: 3.25em;
  letter-spacing: -1px;
  font-weight: 300;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 1em auto;
  line-height: 1;
}
#opening {
  background: none;
  padding: 4em 0 3em 0;
  position: relative;
}
#opening h2 {
  font-size: 1.25em;
  color: #fff;
  max-width: 35em;
  margin: 0 auto;
  margin-bottom: 2em;
  line-height: 1.65;
  text-align: center;
  font-weight: 200;
}
#opening h2 span {
  color: #008000;
  border-bottom: 1px dotted #008000;
}
#opening h3 {
  color: #CC3232;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
}
#opening h3 em {
  font-weight: 700;
  color: #fff;
}
#opening a {
  border: 0;
  background: #ffffff;
  color: #0774bc;
  font-weight: 600;
  cursor: pointer;
  width: 18em;
  margin: 2em  auto 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  opacity: 0.95;
}
#opening a:hover {
  opacity: 1;
}
#opening .twitter-follow-button {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 210px;
}
.flash {
  text-align: center;
  padding: 1em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.flash a {
  font-weight: 900;
  color: #fff;
}
#credits {
  background: none;
  padding: 4em 0;
}
#credits p {
  color: #6babdf;
  text-align: center;
  font-size: 0.875em;
  font-weight: 400;
}
#credits a {
  color: #6BABDF;
  font-weight: 700;
}
#credits a:hover {
  border-bottom: 2px dotted #6babdf;
}
#mc_embed_signup {
  max-width: 40em;
  margin: 0 auto;
  padding: 0;
}
#mc_embed_signup form {
  zoom: 1;
}
#mc_embed_signup form:before,
#mc_embed_signup form:after {
  content: "";
  display: table;
}
#mc_embed_signup form:after {
  clear: both;
}
#mc_embed_signup input {
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 0.55em  1em;
  font-family: "jaf-facitweb", sans-serif;
  font-size: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #008000;
  width: 7.5em;
  font-weight: 300;
}
#mc_embed_signup input::-webkit-input-placeholder {
  color: #bbc7c5;
}
#mc_embed_signup input:active,
#mc_embed_signup input:focus {
  outline: none;
}
#mc_embed_signup #mc-embedded-subscribe {
  border: 0;
  background: #0774bc;
  color: #fff;
  cursor: pointer;
  padding: 0.55em  2em;
  width: 9em;
}
#mc_embed_signup .strap {
  color: #666666;
}
#mc_embed_signup .mc-field-group {
  float: left;
  margin: 0 0.25em 1em 0.25em;
}
#mc_embed_signup .mc-field-group p {
  display: none;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
#manifesto {
  background: none;
  padding: 0 0 2em 0;
}
#manifesto h3 {
  font-size: 1.25em;
  color: #888888;
  max-width: 35em;
  margin: 0 auto;
  margin-bottom: 2em;
  line-height: 1.65;
  text-align: center;
  font-weight: 200;
}
