<div id="next-event">
  <article class="event">

      <span class="strap">This month's event: D&amp;B#4</span>

      <h1>&#8220;Fantastic Four&#8221;</h1>
      <h2>7pm, Monday, September 9th at the <a href="http://www.thekingpinsuite.co.uk/" target="_blank">Kingpin Bowling Suite</a>, WC1H 9EU</h2>

      <p>It's time for Design+Banter #4! We've seen you through the long hot summer months with cooling beer, competitive(ish) bowling and truly awesome design talks. Now we're kicking off the Autumn season by doing it all again. If you love design, you'll love this.</p>


      <section class="tickets" id="get-tickets">
       
       <iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=7767224979&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

      </section>

      
      <section class="speakers" id="speakers">
        <span class="strap">This month's speakers</span>
        <h1>Our design superheroes: Martin, Alasdair &amp; Alex</h1>
        <ul>


          <li>

            <article class="speaker">

              <div class="head">
                <img src="images/speakers/martin-mckenna.jpg">
              </div>

              <section class='bio'>
                
                <h1>Martin McKenna</h1>
                <p>Martin McKenna is a designer, photographer and occasional journalist based in Stockholm, originally from Dublin. He works across both digital and print, and thinks like a scientist when he's designing. </p>
              
              </section>

              <section class='interact'>
                <a href='http://twitter.com/martinjmckenna' target="_blank" class='btn'>@martinjmckenna</a>
              </section>

            </article>

          </li>


          <li>

            <article class="speaker">

              <div class="head">
                <img src="images/speakers/alasdair-monk.jpg">
              </div>

              <section class='bio'>
                
                <h1>Alasdair Monk</h1>
                <p>Alasdair is a designer at payments startup GoCardless and pragmatic developer of various side projects. He hasn't opened Photoshop in two years and once auditioned to go on 'Deal or no Deal' but didn't get on with Noel Edmonds.</p>
              
              </section>

              <section class='interact'>
                <a href='http://twitter.com/almonk' target="_blank" class='btn'>@almonk</a>
              </section>

            </article>

          </li>

          <li>

            <article class="speaker">

              <div class="head">
                <img src="images/speakers/alex-heeton.jpg">
              </div>

              <section class='bio'>
                
                <h1>Alex Heeton</h1>
                <p>You might call Alex a "technical co-founder for hire", but really he's just a generalist who likes working with interesting people.</p><p> Talk to him about technology, design, or the art of creating a good drink.</p>
              
              </section>

              <section class='interact'>
                <a href='http://twitter.com/alexheeton' target="_blank" class='btn'>@alexheeton</a>
              </section>

            </article>

          </li>

        </ul>

      </section>

      <section class="descr" id="sponsors">

        <span class="strap">Our amazing supporters</span>

        <a href="http://trialreach.com/" target="_blank"><img src="/images/sponsors/trial-reach-logo.gif" width="300"></a>

        <p>At TrialReach we're doing something that matters: We're making medical research more efficient, so new treatments take less time and money to reach the patients who need them. Come join us.</p>

        <a href="http://makeshift.io/" target="_blank"><img src="/images/sponsors/makeshift-logo.gif" width="300"></a>

        <p>Makeshift.io is a startup studio in London.<br/> We build products that give a leg up to the little guy</p>

      </section>


      <section class="descr">
            <h2>About the night</h2>

        <p>
          The format of the night is simple: there will be three talks of seven minutes each. What we are aiming for is a mixture of talks: some explaining a concept, some a technique or skill and some show’n’tells.
        </p>

        <p>
          Each talk will contain at least 2 minutes for questions and feedback. Questions and critique are encouraged. Once the talks are finished we'll start the beers and bowling.</p>
        </p>
      </section>

      <section class="venue">
        <span class="strap">This month's venue</span>
        <h1>

          The Kingpin Bowling Suite
        </h1>

        <h2> We have booked out the pretty swish <a href="http://www.thekingpinsuite.co.uk/" target="_blank"> Kingpin Bowling Suite, WC1H 9EU</a> (near Russell Square) again for this month's Design+Banter. Expect bowling, beer, archade games and table tennis.</h2>

        <a href="https://design-and-banter-4.eventbrite.co.uk/" target="_blank" class="btn"> Get your ticket now</a>

      </section>

        <div class="map">
          <iframe width='100%' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/orourkedesign.map-0f5rq70p.html#15/51.52365865109407/-0.12798501586915081'></iframe>
        </div>
      </section>
  </article>
</div>
