<div id="next-event">

  <article class="event">
      
    {% include manifesto.html %}

      <p>We're excited to be back at the wonderful BL-NK for the 11th installment of Design+Banter. As usual we have some excellent speakers lined up for you, the usual open bar and, of course, 175+ of London's best and brightest design talent, all under one roof. If you love design, you'll love this. <a href="http://twitter.com/designandbanter/">Follow us on Twitter for speaker announcements</a>.</p>

      <section class="tickets" id="get-tickets">
        
        <iframe  src="https://www.eventbrite.co.uk/tickets-external?eid=11124661161&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

      </section>

  <section class="speakers" id="speakers">
    <span class="strap">This month's Design+Banter speakers</span>

    <h1>Say hello to Simon!</h1>

    <ul>

        <li>

          <article class="speaker">

            <div class="head">
              <img src="images/speakers/anna-dalhstrom.jpg">
            </div>

            <section class='bio'>

              <h1>Anna Dahlström</h1>
              <p>Anna is a Swedish IA+UX designer with a soft spot for cafes, challenges &amp; flexible working. Formerly the Experience Lead at the digital agency <a href="http://www.thisisdare.com/home">Dare</a>, Anna is behind <a href="http://twitter.com/byflock/">@byflock</a> &amp; <a href="http://twitter.com/UXFika">@UXFika</a> and regularly teaches at <a href="https://generalassemb.ly/">General Assembly</a>.</p>
          
            </section>

            <section class='interact'>
              <a href="http://www.twitter.com/annadahlstrom" target='_blank' class='btn'>@annadahlstrom</a>
            </section>

          </article>

        </li>

        <li>

          <article class="speaker">

            <div class="head">
              <img src="images/speakers/Simon-whybray.jpg">
            </div>

            <section class='bio'>

              <h1>Simon Whybray</h1>
              <p>Simon is a British freelance design consultant specialising in soft branding and campaign strategy. He’s worked with Getty Images, Tumblr, Domino’s Pizza, Snapchat and Adobe.</p>
          
            </section>

            <section class='interact'>
              <a href="http://www.twitter.com/whybray" target='_blank' class='btn'>@Whybray</a>
            </section>

          </article>

        </li>

        <li>

          <article class="speaker">

            <div class="head">
              <img src="images/speakers/tba.jpg">
            </div>

            <section class='bio'>

              <h1>TBA</h1>
              <p>Follow <a hred="http://twitter.com/designandbanter/">@designandbanter</a> for speaker updates.</p>
          
            </section>

            <!-- <section class='interact'>
              <a href="http://www.twitter.com/" target='_blank' class='btn'>@</a>
            </section> -->

          </article>

        </li>

    </ul>


  </section>

   <section class="sponsors" id="sponsors">
    <span class="strap">Supporting April's event</span>
    <a href="https://www.steer.me/">
      <img src="images/sponsors/steer-logo.png">
      <p>Steer teaches practical design and development on short, immersive courses in London. Curated by industry professionals, our courses have been rated as some of the best places to learn in the UK. We believe learning to code should be simple.</p>
    </a>
  
  </section>

  <section class="venue">
    <span class="strap">Where you can find the fun</span>
    <h1>BL-NK</h1>

    <h2>For April we're back at our favourite venue, <a href="http://www.bl-nk.org/"> BL-NK, 37 East Road, London N1 6AZ</a>. It's a great community space supported by Hackney Council and just a few minutes walk from Old Street station.</h2>

    <div class="map">
      <iframe width='100%' height='300px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/orourkedesign.h41mbc92/mm/zoompan,zoomwheel,geocoder,share.html'></iframe>
      
    </div>
  </section>
  </article>
</div>
