<div id="next-event">

  <article class="event">
      
    {% include manifesto.html %}

      <p>Join us and our friends at BL-NK for the latest and greatest installment of Design+Banter. As usual we have some excellent speakers lined up for you, the usual open bar and, of course, 175+ of London's best and brightest design talent, all under one roof. If you love design, you'll love this. <a href="http://twitter.com/designandbanter/">Follow us on Twitter for speaker announcements</a>.</p>

      <section class="tickets" id="get-tickets">
        
        <iframe  src="//eventbrite.co.uk/tickets-external?eid=12115091565&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

      </section>

  <section class="speakers" id="speakers">
    <span class="strap">This month's Design+Banter speakers</span>


    <h1>Give it up for Gil!</h1>


    <ul>

        <li>

          <article class="speaker">

            <div class="head">
              <img src="images/speakers/gilbert-wedam.jpg">
            </div>

            <section class='bio'>

              <h1>Gilbert Wedam</h1>
              <p>By day, Gil is the lead designer at <a href="http://citymapper.com">Citymapper</a>. By night, he's a user of Citymapper.</p>

              <p>Gil says he has "two beating hearts"; one for design and one for photography.</p>

          
            </section>

            <section class='interact'>
              <a href="http://www.twitter.com/subgil" target='_blank' class='btn'>@subgil</a>
            </section>

          </article>

        </li>

        <li>

          <article class="speaker">

            <div class="head">
              <img src="images/speakers/sonja-heinen.jpg">
            </div>

            <section class='bio'>

              <h1>Sonja Heinen</h1>
              <p>While Sonja has been an Art Director and web designer for most of her career, she is currently enrolled at Kingston University to become a Master in Sustainable Design. She is mostly human. She's originally from Germany, therefore the rest of this biography is not available in your country.</p>

          
            </section>

            <section class='interact'>
              <a href="http://www.twitter.com/sonjaheinen" target='_blank' class='btn'>@sonjaheinen</a>
            </section>

          </article>

        </li>

        <li>

          <article class="speaker">

            <div class="head">
              <img src="images/speakers/tba.jpg">
            </div>

            <section class='bio'>

              <h1>Announced Friday</h1>
              <p>Follow <a hred="http://twitter.com/designandbanter/">@designandbanter</a> for speaker updates.</p>

          
            </section>

            <!-- <section class='interact'>
              <a href="http://www.twitter.com/ntlk" target='_blank' class='btn'>@ntlk</a>
            </section> -->

          </article>

        </li>

    </ul>

  </section>

  {% include sponsors.html %}    

  <section class="venue">
    <span class="strap">Where you can find the fun</span>
    <h1>BL-NK</h1>

    <h2>For July we're back at our favourite venue, <a href="http://www.bl-nk.org/"> BL-NK, 37 East Road, London N1 6AZ</a>. It's a great community space supported by Hackney Council and just a few minutes walk from Old Street station.</h2>

    <div class="map">
      <iframe width='100%' height='300px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/orourkedesign.h41mbc92/mm/zoompan,zoomwheel,geocoder,share.html'></iframe>
      
    </div>
  </section>
  </article>
</div>
