<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <h3 class="strap">Hear about the next event first</h3>
  <form action="http://designandbanter.us4.list-manage1.com/subscribe/post?u=34b7f52964fb7c9e4edc004bc&amp;id=17865c218d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div class="mc-field-group">
      <label for="mce-FNAME">
        <p>First Name</p> 
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First Name">
      </label>
    </div>

    <div class="mc-field-group">
      <label for="mce-LNAME">
        <p>Last Name</p>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Last Name">
      </label>
    </div>

     <div class="mc-field-group">
      <label for="mce-EMAIL">
        <p>Email Address</p>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@domain.com">
      </label>
    </div>

    <div id="mce-responses">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  
    <div class="mc-field-group">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
    </div>
  </form>
</div>

<!--End mc_embed_signup-->