<header id="opening">

  {% include logicon.html %}


  <h1 class="logo animated fadeInUp">Design + Banter</h1>
  <h2>The first Monday of every month, web designers get together in London to trade stories, share ideas, drink beer and bowl. </h2>

  <h2>Next event: Monday, August, 5th</h2>

    <a href="http://design-and-banter-3.eventbrite.co.uk" target="_blank" class="btn"> Grab your ticket now</a>

  <a href="https://twitter.com/designandbanter" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @designandbanter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</header>
