
<header id="opening">

  {% include logicon.html %}


  <h1 class="logo animated fadeInUp">Design + Banter</h1>
  <h2>An intimate event in London bringing together 120 designers from the city’s brightest startups and best agencies. Join us each month to share ideas, trade stories and drink beer.</h2>

  <h3 style="line-height:1.4;">Next event: <em>Tuesday, Dec 17th, 7pm,<br/> Shoreditch Village Hall</em></h3>

    <a href="http://design-and-banter-7.eventbrite.co.uk" target="_blank" class="btn"> <em style="font-weight:700">Get your ticket now</a>

  <a href="https://twitter.com/designandbanter" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @designandbanter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</header>
