<div class="flash">  <b>Next event:</b> Monday, July 7th, 7pm, @ BL-NK. 
	<a href="https://www.eventbrite.co.uk/e/designbanter13-tickets-12115091565"> Get your ticket now.</a>
</div>

<header id="opening">

  {% include logicon.html %}

  <h1 class="logo animated fadeInUp">Design + Banter</h1>
  
  <h2>An intimate event in London bringing together 175 designers from the city’s brightest startups and best agencies. Join us each month to share ideas, trade stories and drink beer.</h2>
  
  <a href="https://www.eventbrite.co.uk/e/designbanter13-tickets-12115091565" target="_blank" class="btn">Get your ticket</a>

  <a href="https://twitter.com/designandbanter" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @designandbanter</a>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</header>
