<section class="sponsors" id="sponsors">
  <span class="strap">Supporting July's event</span>
    <a href="http://www.palantir.com/">
    <img src="images/sponsors/hassle-logo.png">
    <h2>A world-changing company</h2>
    <p>Palantir is a place where designers spend their days working on problems that matter. In our short history, we've empowered scientists monitoring the environment, prevented the spread of disease, taken down human trafficking networks, helped homeowners avoid foreclosure, prevented fraud in Medicare, and helped governments save billions.</p>
  </a>
</section>