   <section class="sponsors" id="sponsors">
    <span class="strap">Supporting July's event</span>
    <a href="http://www.palantir.com/">
      <img src="images/sponsors/palantir-logo.png">
      <h2>A world-changing company</h2>

      <p>Palantir is a place where designers spend their days working on problems that matter. In our short history, we've empowered scientists monitoring the environment, prevented the spread of disease, taken down human trafficking networks, helped homeowners avoid foreclosure, prevented fraud in Medicare, and helped governments save billions.</p>

      <p>Sound exciting? We think so.</p>
      <br/>
      <br/>

      <h2>The Product Design team at Palantir</h2>

      <p>We design the futuristic and visionary software from science fiction cinema — except ours is real, and is used to solve the world's most complex information problems. Our team's work has a profound impact across the company: we work on every feature and every interface that users touch — for desktop, mobile, and web. The design team is highly valued in the company for our vision, our ability to learn and adapt, and our creativity and inventiveness.</p>
    </a>
  
  </section>