<section class="sponsors" id="sponsors">
  <span class="strap">Supporting July's event</span>
	<a target="_blank" href="https://hassle.com/uk/careers/">
    <img src="images/sponsors/hassle-logo.png">
  </a>
		<h2>Hassle.com is proud to support the Design+Banter community. </h2>
    <p>We’re building our design team and would love to hear from you &mdash; <a target="_blank" href="https://hassle.com/uk/careers/">find out more here</a>.</p>
    <br/>
    <h4 class="strap"> A little about us</h4>
		<p>By taking the hassle out of finding and booking home services, we help people spend their time on the things that really matter — playing with their kids, actually making it to the gym, or maybe reading that book that’s been sitting on the nightstand for the last month. We like to think of what we're building as "quality time as a service" and who doesn't want more of that?</p>

		
</section>