<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Design+Banter | 7pm, Monday, March 3rd at BL-NK | An intimate event in London bringing together 175 designers from the city’s brightest startups and best agencies. Join us each month to share ideas, trade stories and to drink beer.</title>
        {{ page.head-block}}
        <meta property="og:title" content="Design+Banter | 7pm, Monday, March 3rd at BL-NK" />
        <meta property="og:type" content="event" />
        <meta property="og:site_name" content="Design+Banter" />
        <meta property="og:image" content="http://designandbanter.com/images/speakers/laura-kalbag.jpg" />
        <meta property="og:description" content="An intimate event in London bringing together 175 designers from the city’s brightest startups and best agencies. Join us each month to share ideas, trade stories and to drink beer." />
        <meta property="og:url" content="http://www.designandbanter.com/" />

        <link rel="stylesheet" href="/css/site.css">
        <!--[if lt IE 10]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="/vendor/js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/zgz2kut.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>


      {{ content }}


      {% include credits.html %}

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/vendor/js/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="/js/main.js"></script>


  </body>
</html>
