.speaker {
  .border-radius(@radius: 3px); 
  background: #ffffff; 
  width: 18em;
  padding-top: 1em;

  p {
    font-size: 0.875em;
    text-align: center;
    line-height: 1.4;
    color: @text;

  }
  .head {
    width: 9em;
    height: 9em;
    overflow: hidden;
    .border-radius(100px);
    border: 2px solid @non;
    margin: 0.25em auto;
    position: relative;
    background: #ffffff;
    img {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .bio {
    border-bottom: 2px dotted @non;
    padding: 0em 2em 1.5em 2em;
    h1 {
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1;
    }

  }
  .abstract {
    padding: 1.5em 2em;
    border-bottom: 2px dotted @non;
  }
  .interact {
    padding: 1em;
  }

}