.speaker {
  .border-radius(@radius: 3px); 
  background: #ffffff; 
  padding-top: 1em;
  overflow: hidden;

  p {
    font-size: 0.75em;
    text-align: center;
    line-height: 1.4;
    color: @text;

  }
  .head {
    width: 8em;
    height: 8em;
    overflow: hidden;
    .border-radius(100px);
    border: 2px solid @non;
    margin: 0.25em auto;
    position: relative;
    background: #ffffff;
    img {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .bio {
    border-bottom: 1px solid @non;
    padding: 0em 1em;
    height: 8em;
    h1 {
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1;
    }
  }
  .abstract {
    padding: 1em;
    height: 4.25em;
    p {
      font-style: italic;
      &:before {
        content: "\201C";
      }
      &:after {
        content: "\201D";
      }
    }
  }
  .interact {
    padding: 1em 1em 1.25em 1em;
    background: @non;
  }

}