#credits {
  background: none;
  padding: 4em 0;
  p {
    // color: @primary;
    color: #d4d4d8;
    text-align: center;
    font-size: 0.875em;
    font-weight: 400
  }
  a {
    color: #d4d4d8;
    font-weight: 700;
    border-bottom: 2px dotted #d4d4d8;
    &:hover {
      color: @primary;
      border-color: @primary;
    }
  }
}