#credits {
  background: @headline;
  padding: 4em 0;
  p {
    color: @text;
    text-align: center;
    font-size: 0.875em;
  }
  a {
    color: @rule;
    border-bottom: 2px dotted @text;
    &:hover {
      border-bottom: 2px dotted @primary;
    }
  }
}