.logicon{
  display: block;
  width: 2.5em;
  height: 4em;
  margin: 2em auto 0 auto;
  svg {
    width: 2.5em;
  }
}

.no-svg .logicon {
    background: url(/images/logo.png) top center no-repeat;
    svg {
        display: none;
    }
}
.logo {
  text-align: center;
  font-size: 3.25em;
  letter-spacing: -1px;
  font-weight: 300;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 1em auto;
  line-height: 1;
}