#opening {
  background: none;
  padding: 2em 0 7em 0;
  position: relative;

  h2 {
    font-size: 1.25em;
    color: #fff;
    max-width: 35em;
    margin: 0 auto;
    margin-bottom: 2em;
    line-height: 1.65;
    text-align: center;
    font-weight: 200;
    span {
      color: @primary-dark;
      border-bottom: 1px dotted @primary-dark
    }
  }

  h3 {
    color: #CC3232;
    text-align: center;
    
    font-size: 1.5em;
    font-weight: 200;
    em {
      font-weight: 700;
      color: #fff;
    }
  }
  a {
    border: 0;
    background: #ffffff;
    color: #19a7c3;
    font-weight: 500;
    cursor: pointer;
    width: 18em;
    margin: 2em  auto 0 auto;
    font-size: 1em;
    letter-spacing: normal;
  }

  .twitter-follow-button{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 210px;
  }
}
